#headr {
  font-family: 'Lobster', cursive;
  color: #1B283B;
}

#search {

}
#posterImg {
  position: relative;
  height: 20em;
  width: 15em;
  margin-left: 3em;
  top: 3em;
  background-color: #398F7C;
}

.infoMovie {
  position: relative;
  top: 3em;
  left: 1em;
  text-align: center;
}